<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AutoParts</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: Left;
        }
    </style>
</head>
<body>
<ul>
    <li><a href="http://localhost:8080/allParts"> All parts</a></li>
    <li><a href="http://localhost:8080/allParts/by/1"> Parts by name</a></li>
    <li><a href="http://localhost:8080/allParts/by/2"> Parts by manufacturer</a></li>
    <li><a href="http://localhost:8080/allParts/by/3"> Parts by description</a></li>
    <li><a href="http://localhost:8080/allParts/by/4"> Parts by price</a></li>
</ul>
</body>
</html>